@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary_color:#e7c873;
  --secondary_color:#e7c873;
  --text:#f0f0f0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html{
  scroll-behavior: smooth; 
}

body { 
    font-family: "Roboto", sans-serif;
    background-color: rgba(249, 249, 249, 1);
}

.bg_secondary{
  background-color: var(--secondary_color);
}
 
section{
  position: relative;
  width: 100%; 
  max-width: 100%;
}

section:not(.hero){ 
  margin: 12rem 0;
}

.hero_gradient{
  box-shadow: 0px 4px 76.7px 289px rgba(45, 42, 35, 1);
  background-color: rgba(45, 42, 35, 1);
  backdrop-filter: blur(4em);
  opacity: 0.6;
}

@layer utilities {
  .flex_center{
    @apply flex justify-center items-center;
  }

  .flex_between{
    @apply flex justify-between items-center;
  }

  .flex_items{
    @apply flex items-center;
  }

  .flex_itemsStartColmn{
    @apply flex flex-col items-start; 
  }

  .flex_col_center{
    @apply flex justify-center items-center flex-col;
  }

  .text-balance {
    text-wrap: balance;
  }

  .black_btn{
    @apply  duration-200 hover:bg-white hover:text-black;
  }

  .font_super_small {
    @apply text-[13px] min-[1700px]:text-[15px]; 
}

  .font_small {
    @apply text-[15px]; 
  }

  .font_medium {
    @apply max-sm:text-[14px] text-[16px];
  }

  .font_normal {
    @apply text-[17px]; 
  }

  .font_large {
    @apply text-[21px];
  }

  .font_xl_large {
    @apply text-[19px];
  }

  .font_title {
    @apply text-[35px] xl:text-[40px];
  }

}

ul li:hover a{
  color: rgb(201, 201, 201); 
}

.menu_links{
  height: 0;
  overflow: hidden;
}

.menu_links.active{
  height: 450px; 
}

/* menu button */ 
.menu {
  transform: scale(0); 
}

.menu-button {
  display: none;
  overflow: hidden;

  height: 35px;
  width: 45px;

  position: relative;

  align-items: center;
}

.menu-button span {
  width: 100%;
  height: 3px;
  background-color: white;
  position: absolute;
  transition: all 0.3s ease-in-out;
}

.menu-button span:nth-child(1) {
  top: 0;
}

.menu-button span:nth-child(2) {
  position: relative;
}

.menu-button span:nth-child(3) {
  bottom: 0;
}

.menu-button.active span:nth-child(1) {
  transform: rotate(45deg);
  top: 1rem;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.menu-button.active span:nth-child(2) {
  width: 0%;
}

.menu-button.active span:nth-child(3) {
  transform: rotate(-45deg);
  bottom: 1rem;
} 

@media screen and (min-width: 1024px) {
  .menu_links,
  .menu_links.active{
    height: auto; 
  }
}

@media screen and (max-width: 1500px) {
  section:not(.hero){ 
    margin: 8rem 0;
  }
}

@media screen and (max-width: 1024px) {
  .menu-button {
    display: flex;  
  }

  section:not(.hero){ 
    margin: 7rem 0;
  }
 
}

@media screen and (max-width: 500px) {
  .menu-button {
    width: 27px;
    height: 23px;
  }

  .menu-button.active span:nth-child(1) {
    top: 0.6rem;
  }

  .menu-button.active span:nth-child(3) {
    bottom: 0.7rem;
  }
}


 